{% extends 'base.html' %}

{% block content %}
    {% for detail in details %}

        <article class="media content-section">
          <div class="media-body">
            <div class="article-metadata">
              <a class="mr-2" href="#">{{ detail.family_head }}</a>
            </div>
            <h2><a class="article-title" href="{% url 'church-detail' detail.id %}">{{ detail.name }}</a></h2>
          </div>
        </article>

    {% endfor %}
    <div class="form-group">
        <a class="btn btn-outline-secondary" type="submit" href="{% url 'church-create' %}">Add</a>
    </div>


{% endblock %}